// SPDX-License-Identifier: MIT
// Originally rendered by ImpForge — https://github.com/AiImpDevelopment/impforge
---
const title = "maritime-web";
---
<html lang="en">
  <body><h1>Welcome to {title}</h1></body>
</html>
